/*	RESET */

body { font-size: 11px; }
img, iframe, iframe.alignc, embed, object, video, .wp-caption { max-width: 100%; height: auto; } 



/*	TYPOGRAPHY */

h1 { font-size: 2.0em; } 
h2 { font-size: 1.6em; }
h3 { font-size: 1.4em; } 



/*	STRUCTURE */

#page-wrap { width: 100%; margin: 20px 0; }
#main-col { width: 90%; float: none; margin: 0 auto; }
#sidebar { width: 90%; margin: 20px auto 0 auto; padding: 20px 0 0 0; border-top: 1px dotted #a9a9a9; float: none; }



/*	HEADER */

#logo { font-size: 2.6em; }
#top-bar { width: 100%; }
#top-bar-1 { width: 90%; float: none; margin: 0 auto; }
#top-bar-2 { width: 90%; float: none; margin: 0 auto }



/*	MENU */

#main-nav { width: 90%; margin: 0 0 0 -15px; } 



/* 	SIDEBAR */ 

.widget { margin: 0 auto 20px auto; }

#searchform { margin: 0 auto 20px auto; }



/* 	SOCIAL BOOKMARKS */ 

.social { width: 100%; }
.social-left { width: 100%; float: left; }
.social-right { width: 100%; float: left; margin: 10px 0 20px 0; text-align: left; }



/*	FOOTER */

#footer-inside { width: 90%; float: none; }
