/*

	GO MAKE THINGS v3.10
	Un-Minified Stylesheet


	FONT COLORS

	Blue: #0088cc
	Alt Blue: #1597d6
	Tan: #f5f4ee
	Alt Tan: #8f8e8b
	Dark Gray: #272727
	Meta Gray: #808080
	Lite Gray: #e5e5e5


	FONT STACKS

	Georgia, Times, "Times New Roman", serif
	"Helvetica Neue", Helvetica, Arial, sans-serif


	TYPOGRAPHIC SCALE

	14px, 15px, 17px (base), 20px, 23px, 26px, 30px, 34px, 51px, 68px, 85px, 102px


*/

/*  MEYER'S RESET & NORMALIZED */

html, body, div, span, applet, object, iframe, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, 
a, abbr, acronym, address, big, cite, code, 
del, dfn, em, img, ins, kbd, q, s, samp, 
small, strike, strong, sub, sup, tt, var, 
b, u, i, center, 
dl, dt, dd, ol, ul, li, 
button, fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td, 
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary, 
time, mark, audio, video { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    font-family: Georgia, Times, "Times New Roman", serif; 
    font-size: 100%; 
    font: inherit; 
    vertical-align: baseline; 
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section { 
    display: block; 
}

html { 
    overflow-y: scroll; 
    -webkit-text-size-adjust: 100%; 
        -ms-text-size-adjust: 100%; 
} 

audio, canvas, video { 
    display: inline-block; 
    *display: inline; 
    *zoom: 1; 
}

audio:not([controls]) { 
    display: none; 
}

img, video { 
    max-width: 100%; 
    height: auto; 
}

.no-js iframe, .no-js object, .no-js embed {
    max-width: 100%; 
}

img { 
    -ms-interpolation-mode: bicubic; 
}

a:focus { 
    outline: thin dotted; 
    outline: 5px auto -webkit-focus-ring-color; 
    outline-offset: -2px; 
}

a:hover, a:active { 
    outline: 0; 
}

button {
    color: #0088cc;
    background-color: transparent;
    cursor: pointer; 
}





/*  STRUCTURE */

.container { 
    max-width: 640px; 
    margin-left: auto; 
    margin-right: auto;
    padding-top: 26px; 
}





/*  TYPOGRAPHY */

body { 
    font-family: Georgia, Times, "Times New Roman", serif; 
    font-size: 17px; 
    line-height: 25px; 
    color: #272727; 
    background: #ffffff; 
    padding-left: 20px; 
    padding-right: 20px; 
    border-top: 9px solid #e5e5e5; 
}

p { 
    margin-bottom: 26px; 
}


/*  Sizes */

.small { 
    font-size: 15px; 
    line-height: 23px; 
}

.tall { 
    font-size: 20px; 
    line-height: 1.4em; 
}

.grande { 
    font-size: 23px; 
    line-height: 1.4em; 
}

.ginormous { 
    font-size: 51px; 
    line-height: 1.2em; 
}

.monsterous { 
    font-size: 102px; 
    line-height: 1.2em; 
}


/*  Colors */

.muted { 
    color: #808080; 
}


/*  Links */

a { 
    color: #0088cc; 
    text-decoration: none; 
}

a:hover { 
    color: #272727; 
    text-decoration: underline; 
}

.muted a, .muted button { 
    color: #272727; 
}

a:hover.no-underline { 
    text-decoration: none; 
}

a img { 
    border: none; 
    background: none; 
} 

a:hover img { 
    border: none; 
    background: none; 
    opacity:0.8; filter:alpha(opacity=80); 
}


/*  Lists */

ul, ol { 
    margin-bottom: 26px; 
    margin-left: 26px;
}

ul ul, ul ol, ol ol, ol ul { 
    margin-bottom: 0; 
}

ul { 
    list-style: disc; 
}

ol { 
    list-style: decimal; 
}

li { 
    margin-bottom: 8px; 
}

.unstyled { 
    margin-left: 0; 
    list-style: none; 
}

.unstyled > li { 
    margin: 0; 
}


/*  Headers */

h1, h2, h3, h4, h5, h6 { 
    line-height: 1.2em; 
    font-weight: normal; 
    margin-bottom: 26px; 
    padding-top: 26px; 
    text-align: center; 
}

h1, .h1 { 
    font-size: 26px; 
    padding-top: 14px; 
} 

h2, .h2 { 
    font-size: 23px; 
}

h3, .h3 { 
    font-size: 20px; 
}

h4, h5, h6, 
.h4, .h5, .h6 { 
    font-size: 15px; 
    font-style: italic; 
}

h4, .h4 { 
    text-transform: uppercase; 
}

h1 a, h2 a, h3 a, 
h4 a, h5 a, h6 a { 
    color: #272727; 
}

h1 a:hover, h2 a:hover, h3 a:hover, 
h4 a:hover, h5 a:hover, h6 a:hover { 
    color: #0088cc; 
    text-decoration: none; 
}


/*  Lines, Quotes and Emphasis */

hr { 
    margin: 34px auto; 
    border: 0; 
    border-top: 1px solid #e5e5e5; 
    border-bottom: 1px solid #ffffff; 
}

strong { 
    font-weight: bold; 
}

em { 
    font-style: italic; 
}

sub, sup { 
    position: relative; 
    font-size: 85%; 
    line-height: 0; 
    vertical-align: baseline; 
    margin-left: .3em; 
}

sup { 
    top: -0.5em; 
}

sub { 
    bottom: -0.25em; 
}

::selection, ::-moz-selection { 
    color: #ffffff; 
    background: #0088cc; 
}

blockquote { 
    font-style: italic; 
    border-left: 2px solid #e5e5e5; 
    margin-bottom: 26px; 
    padding-left: 20px; 
    padding-right: 20px; 
}

blockquote:before, blockquote:after, 
q:before, q:after { 
    content: ''; 
    content: none; 
}

.callout { 
    background: #f5f4ee; 
    margin-bottom: 26px; 
    padding: 30px; 
    -webkit-border-radius: 4px; 
       -moz-border-radius: 4px; 
            border-radius: 4px; 
}

.callout > h1, .callout > h2, .callout > h3 { 
    padding-top: 14px; 
}





/*  CODE */

code, pre { 
    padding: 0 3px 2px; 
    font-family: Menlo, Monaco, "Courier New", monospace; 
    font-size: 13px; 
    color: #272727; 
    -webkit-border-radius: 3px; 
       -moz-border-radius: 3px; 
            border-radius: 3px; 
}

code { 
    padding: 3px 4px; 
    color: #d14; 
    background-color: #f7f7f9; 
    border: 1px solid #e1e1e8; 
}

pre { 
    display: block; 
    padding: 8.5px;
     margin-bottom: 26px; 
     font-size: 13px; 
     line-height: 20px; 
     background-color: #f5f5f5; 
     border: 1px solid #ccc; 
     border: 1px solid rgba(0, 0, 0, 0.15); 
     -webkit-border-radius: 4px; 
        -moz-border-radius: 4px; 
             border-radius: 4px; 
     white-space: pre; 
     white-space: pre-wrap; 
     word-break: break-all; 
}

pre code { 
    padding: 0; 
    color: inherit; 
    background-color: transparent; 
    border: 0; 
}

.wp-caption-text { 
    font-size: 15px; 
    font-style: italic; 
    color: #808080; 
    padding-top: 8px; 
    text-align: center; 
}


/*  Google Prettify */

.pln, .pun, .opn, .clo { color: #272727; } /* plain text, punctuation, lisp open bracket, lisp close bracket */
.str, .lit, .atv { color: #d14; } /* string content, a literal value, a markup attribute value */
.kwd, .typ, .tag { color: #018a8b; } /* a keyword, a type name, a markup tag name */
.com { color: #3934f5; }/* a comment */
.atn { color: #b44fe7; } /* a markup attribute name */
.dec, .var { color: #ad3238; } /* a declaration; a variable name */
.fun { color: #dc322f; }/* a function name */





/*  FORMS */

form, fieldset { 
    margin-bottom: 26px; 
}

legend, label { 
    display: block; 
    padding: 0; 
    margin-bottom: 5px; 
}

input, textarea, select, .btn-search { 
    font-family: Georgia, Times, "Times New Roman", serif; 
    font-size: 17px; 
    line-height: 25px; 
    font-weight: normal; 
    color: #555555; 
    vertical-align: middle; 
    margin-bottom: 20px; 
    padding: 5px; 
    border: 1px solid #ccc; 
    -webkit-border-radius: 3px; 
       -moz-border-radius: 3px; 
            border-radius: 3px; 
    -webkit-box-sizing: border-box; 
       -moz-box-sizing: border-box; 
        -ms-box-sizing: border-box; 
            box-sizing: border-box; 
}

.input-wide, .input-medium, textarea { 
    display: block; 
    width: 100%; 
}

.input-small { 
    width: 75%; 
}

textarea { 
    height: 200px; 
}

input[type="image"], 
input[type="checkbox"], 
input[type="radio"] { 
    width: auto; 
    height: auto; 
    padding: 0; 
    margin-bottom: 3px; 
    cursor: pointer; 
}

input:focus, 
textarea:focus { 
    border-color: rgba(82, 168, 236, 0.8); 
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6); 
       -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6); 
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6); 
    outline: 0; 
    outline: thin dotted \9; 
}

input[type="file"]:focus, 
input[type="checkbox"]:focus, 
select:focus { 
    -webkit-box-shadow: none; 
       -moz-box-shadow: none; 
            box-shadow: none; 
    outline: thin dotted; 
    outline: 5px auto -webkit-focus-ring-color; 
    outline-offset: -2px; 
}


/*  Search Button */
.input-search { 
    font-size: 15px; 
    line-height: 23px; 
    padding-left: 15px; 
    padding-right: 40px; 
    -webkit-border-radius: 23px; 
       -moz-border-radius: 23px; 
            border-radius: 23px; 
}

.btn-search { 
    display: inline-block; 
    font-size: 15px; 
    line-height: 23px; 
    color: #808080; 
    border: none; 
    background: none; 
    margin-left: -40px; 
}





/*  BUTTONS */

.btn { 
    display: inline-block; 
    padding: 6px 10px; 
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
    font-size: 15px; 
    line-height: 20px; 
    font-weight: normal; 
    color: #ffffff; 
    background: #1597d6; 
    border: 1px solid #1597d6; 
    -webkit-border-radius: 4px; 
       -moz-border-radius: 4px; 
            border-radius: 4px; 
    *margin-left: .3em; 
}

.btn:hover, a .btn:hover { 
    background: #0088cc; 
    border: 1px solid #0088cc; 
    color: #ffffff; 
    text-decoration: none; 
}

.btn:active { 
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); 
       -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); 
            box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    outline: 0; 
}

.btn-large { 
    padding: 10px 15px; 
    font-size: 17px; 
    line-height: normal; 
    -webkit-border-radius: 5px; 
       -moz-border-radius: 5px; 
            border-radius: 5px; 
}

.btn-block, 
input[type="submit"].btn-block, 
input[type="reset"].btn-block, 
input[type="button"].btn-block { 
    display: block; 
    width: 100%; 
    padding-right: 0; 
    padding-left: 0; 
    -webkit-box-sizing: border-box; 
       -moz-box-sizing: border-box; 
            box-sizing: border-box; 
}

.btn-block + .btn-block { 
    margin-top: 5px; 
}

button, .btn { 
    cursor: pointer; 
    vertical-align: middle; 
    -webkit-appearance: none; 
}

.btn:first-child { 
    *margin-left: 0; 
}

.btn:focus { 
    outline: thin dotted; 
    outline: 5px auto -webkit-focus-ring-color; 
    outline-offset: -2px; 
}





/*  ICONS */

@font-face { 
    font-family: 'icomoon'; 
    src: url('fonts/icomoon.eot'); 
    src: url('fonts/icomoon.eot?#iefix') format('embedded-opentype'), 
         url('fonts/icomoon.woff') format('woff'), 
         url('fonts/icomoon.ttf') format('truetype'), 
         url('fonts/icomoon.svg#IcoMoon') format('svg'); 
    font-weight: normal; 
    font-style: normal; 
}

[class^="icon-"]:before, 
[class*=" icon-"]:before { 
    font-family: 'icomoon'; 
    font-style: normal; 
    speak: none; 
    font-weight: normal; 
    -webkit-font-smoothing: antialiased; 
    font-smoothing: antialiased; 
    text-rendering: optimizeLegibility; 
}

.icon-anchor:before { content: "\e000"; }
.icon-email:before { content: "\e001"; }
.icon-twitter:before { content: "\e002"; }
.icon-chat:before { content: "\e003"; }
.icon-reply:before { content: "\e004"; }
.icon-search:before { content: "\e005"; }
.icon-download:before { content: "\e006"; }
.icon-arrow-back:before { content: "\e007"; }
.icon-arrow-forward:before { content: "\e008"; }
.icon-top:before { content: "\e009"; }
.icon-mobile:before { content: "\e00a"; }
.icon-kit:before { content: "\e00b"; }
.icon-code:before { content: "\e00c"; }
.icon-grid:before { content: "\e00d"; }
.icon-speed:before { content: "\e00e"; }
.icon-list:before { content: "\e00f"; }
.icon-rocket:before { content: "\e010"; }
.icon-paw:before { content: "\e011"; }


/*  Icon Link Styling */
a .icon-muted { 
    color: #808080; 
}

a:hover .icon-muted { 
    color: #272727; 
}





/*  IMAGES */

.img-rounded { 
    -webkit-border-radius: 6px; 
       -moz-border-radius: 6px; 
            border-radius: 6px; 
}

.img-border, .img-polaroid { 
    border: 1px solid #ccc; 
    border: 1px solid rgba(0, 0, 0, 0.2); 
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); 
       -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); 
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); 
}

.img-polaroid { 
    padding: 4px; 
    background-color: #fff; 
}

.img-circle, .avatar { 
    -webkit-border-radius: 50%; 
       -moz-border-radius: 50%; 
            border-radius: 50%; 
}

.avatar { 
    float: left; 
    margin-right: 15px;
    height: 60px;
    width: 60px;
}





/*  COLLAPSE & FADE */

.collapse { 
    -webkit-transition: height 0.35s ease; 
       -moz-transition: height 0.35s ease; 
        -ms-transition: height 0.35s ease; 
         -o-transition: height 0.35s ease; 
            transition: height 0.35s ease; 
    position: relative; 
}

.js .collapse { 
    height: 0; 
    overflow: hidden; 
}

.collapse .in { 
    height: auto; 
}





/*  TABLES */

table { 
    max-width: 100%; 
    border-collapse: collapse; 
    border-spacing: 0; 
}

.table { 
    width: 100%; 
    margin-bottom: 26px; 
}

.table th, .table td { 
    padding: 8px; 
    line-height: 25px; 
    text-align: left; 
    border-top: 1px solid #ddd; 
}

.table th { 
    font-weight: bold; 
    vertical-align: bottom; 
}

.table td { 
    vertical-align: top; 
}

.table thead:first-child tr th, 
.table thead:first-child tr td { 
    border-top: 0; 
}

.table tbody + tbody { 
    border-top: 2px solid #ddd; 
}

.table-condensed th, 
.table-condensed td { 
    padding: 4px 5px; 
}

.table-bordered { 
    border: 1px solid #ddd; 
    border-collapse: separate; 
    *border-collapse: collapsed; 
    -webkit-border-radius: 4px; 
       -moz-border-radius: 4px; 
            border-radius: 4px; 
}

.table-bordered th + th, 
.table-bordered td + td, 
.table-bordered th + td, 
.table-bordered td + th { 
    border-left: 1px solid #ddd; 
}

.table-bordered thead:first-child tr:first-child th, 
.table-bordered tbody:first-child tr:first-child th, 
.table-bordered tbody:first-child tr:first-child td { 
    border-top: 0; 
}

.table-bordered thead:first-child tr:first-child th:first-child, 
.table-bordered tbody:first-child tr:first-child td:first-child { 
    -webkit-border-radius: 4px 0 0 0; 
       -moz-border-radius: 4px 0 0 0; 
            border-radius: 4px 0 0 0; 
}

.table-bordered thead:first-child tr:first-child th:last-child, 
.table-bordered tbody:first-child tr:first-child td:last-child { 
    -webkit-border-radius: 0 4px 0 0; 
       -moz-border-radius: 0 4px 0 0; 
            border-radius: 0 4px 0 0; 
}

.table-bordered thead:last-child tr:last-child th:first-child, 
.table-bordered tbody:last-child tr:last-child td:first-child { 
    -webkit-border-radius: 0 0 0 4px; 
       -moz-border-radius: 0 0 0 4px; 
            border-radius: 0 0 0 4px; 
}

.table-bordered thead:last-child tr:last-child th:last-child, 
.table-bordered tbody:last-child tr:last-child td:last-child { 
    -webkit-border-radius: 0 0 4px 0; 
       -moz-border-radius: 0 0 4px 0; 
            border-radius: 0 0 4px 0; 
}





/*  NAVIGATION */

.logo > .icon-anchor { 
    font-size: .8em; 
    line-height: 1; 
}

.logo:hover { 
    color: #272727; 
    text-decoration: none; 
}

.nav { 
    display: block; 
    float: none; 
    margin-left: auto; 
    margin-right: auto; 
    padding-top: 14px; 
    border-top: 1px solid #e5e5e5; 
    border-bottom: 1px solid #e5e5e5; 
}

.nav > li { 
    display: inline-block; 
    float: none; 
}

.nav > li > a, 
.nav > li > button { 
    float: none; 
    padding: 10px 10px 11px; 
}

#default #nav-home,
[id^="page"] #nav-home,
#about #nav-about, 
#work #nav-work, 
[id^="work"] #nav-work,
#search #nav-search,
[id^="?s"] #nav-search,
[id^="category"] #nav-search { 
    color: #272727; 
    text-decoration: underline; 
}

.responsive-nav { 
    display: none; 
}





/*  PROGRESS BARS */

.progress { 
    height: 26px; 
    margin-bottom: 26px; 
    font-size: 15px; 
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
    overflow: hidden; 
    color: #808080; 
    background-color: #f7f7f7; 
    background-image: -moz-linear-gradient(top, #f5f5f5, #f9f9f9); 
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#f9f9f9)); 
    background-image: -webkit-linear-gradient(top, #f5f5f5, #f9f9f9); 
    background-image: -o-linear-gradient(top, #f5f5f5, #f9f9f9); 
    background-image: linear-gradient(to bottom, #f5f5f5, #f9f9f9); 
    background-repeat: repeat-x; 
    -webkit-border-radius: 4px; 
       -moz-border-radius: 4px; 
            border-radius: 4px; 
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#fff9f9f9', GradientType=0); 
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); 
       -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); 
            box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); 
}

.progress .bar { 
    float: left; 
    width: 0; 
    height: 100%; 
    color: #ffffff; 
    text-align: center; 
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); 
    background-color: #4bb1cf; 
    background-image: -moz-linear-gradient(top, #5bc0de, #339bb9); 
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#339bb9)); 
    background-image: -webkit-linear-gradient(top, #5bc0de, #339bb9); 
    background-image: -o-linear-gradient(top, #5bc0de, #339bb9); 
    background-image: linear-gradient(to bottom, #5bc0de, #339bb9); 
    background-repeat: repeat-x; 
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff339bb9', GradientType=0); 
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15); 
       -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15); 
            box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15); 
    -webkit-box-sizing: border-box; 
       -moz-box-sizing: border-box; 
            box-sizing: border-box; 
    -webkit-transition: width 0.6s ease; 
       -moz-transition: width 0.6s ease; 
         -o-transition: width 0.6s ease; 
            transition: width 0.6s ease; 
}





/*  FLOATS & HIDES */

.alignleft, .alignright, 
.aligncenter, .alignnone { 
    display: block; 
    text-align: center; 
    margin-left: auto; 
    margin-right: auto;
}

.text-center { 
    text-align: center; 
}

.text-right { 
    text-align: right; 
}

.text-left { 
    text-align: left; 
}

.pull-right { 
    float: right; 
}


/*  Spacing */

.no-space { 
    margin: 0; 
    padding: 0; 
}

.no-space-bottom { 
    margin-bottom: 0; 
    padding-bottom: 0; 
}

.no-space-top { 
    margin-top: 0; 
    padding-top: 0; 
}

.small-space-bottom { 
    margin-bottom: 8px; 
    padding-bottom: 0; 
}

.padding-top { 
    padding-top: 14px; 
}

.margin-bottom { 
    margin-bottom: 34px; 
}

.screen-reader { 
    position: absolute; 
    top: -9999px; 
    left:-9999px; 
}


/*  Clearfix */

.group:before, .group:after, 
.container:before, .container:after, 
.row:before, .row:after { 
    display: table; 
    content: ""; 
    *zoom: 1; 
}

.group:after, 
.container:after, 
.row:after { 
    clear: both; 
}





/*  RESPONSIVE WEB DESIGN */

@media (max-width: 680px) {

	.js .nav-mobile {
	    overflow: hidden; 
	    height: 0;
	}
	
	.js .responsive-nav { 
	    display: block;
	    padding-top: 0;
	}

	.js .responsive-nav > li { 
	    margin-bottom: 0;
	}
	
	.js .nav-mobile > .nav { 
	    border: none; 
	    padding-top: 0;
	}
	
	.js .nav > li { 
	    display: block; 
	}
	
}



@media (min-width: 681px) {

	body, input, textarea, select { 
	    line-height: 27px; 
	}

	.tall { 
	    font-size: 23px; 
	}

	.grande { 
	    font-size: 30px; 
	}

	ul, ol { 
	    margin-left: 51px; 
	}

	h1, .h1 { 
	    font-size: 30px; 
	} 

	blockquote { 
	    margin-left: 26px; 
	    margin-right: 26px; 
	    padding-left: 26px; 
	    padding-right: 26px; 
	}

	.input-medium, 
	.input-small { 
	    display: inline-block; 
	}

	.input-medium { 
	    width: 65%; 
	}

	.input-small { 
	    width: 35%; 
	}

	.alignleft { 
	    float: left; 
	    margin-right: 15px; 
	}

	.alignright { 
	    float: right; 
	    margin-left: 15px; 
	}

	.row { 
	    margin-left: -40px; 
	}

    [class^="column-"], 
    [class*=" column-"] {
        float: left;
        margin-left: 40px;
    }

	.column-half { 
	    width: 300px;  
	}

	.column-third { 
	    width: 186px; 
	}

	.column-two-thirds { 
	    width: 372px; 
	}

	.nav-mobile.collapse {
	    height: auto !important; 
	}

}