/*	RESET */

body { font-size: 11px; }



/*	STRUCTURE */

#page-wrap { width: 640px; }
#main-col-nosidebar { width: 640px; }
#sidebar { width: 640px; margin: 20px 0 0 0; padding: 40px 0 0 0; border-top: 1px dotted #a9a9a9; float: left; }



/*	HEADER */

#top-bar { width: 640px; }
#top-bar-1 { width: 640px; }
#top-bar-2 { width: 640px; }



/*	MENU */

ul#main-nav { width: 640px; margin: 0 0 0 -15px; }



/* 	SIDEBAR */ 


.widget { width: 640px; }

form#searchform { margin: 20px 0 40px 0; }



/*	FOOTER */

#footer-inside { width: 640px; }
